<div class="main-wrapper">
    <div class="page-logo">
        <%= image_tag 'subzam.png' %>
    </div>

    <p class="condensed-300 small ">Search through the contents of <strong><%= Movie.count %> movies</strong>.</p>

    <%= form_tag :fulltext_movies, :method => 'get', :class => 'ink-form top-space' do %>
        <div class="column-group push-center">
          <div class="control-group all-60">
                <div class="control  append-button">
                    <span><%= text_field_tag :query, params[:query], :placeholder => "I am your father", :autofocus => 'true', :class => 'js-input' %></span>
                    <%= submit_tag "Search", :name => nil, :class => 'ink-button orange' %>
                </div>
          </div>
        </div>
    <% end %>

    <%= link_to '#', class: 'small js-micro' do %>
        <i class="fa fa-microphone"></i> Use Voice Search
    <% end %>

    <%= render 'speech_script' %>
</div>
