<p class="lead">Search movies below.</p>

<%= form_tag :find_movies, :method => 'get', :class => 'form-inline' do %>
  <div class="form-group">
    <%= label_tag :query, 'Find a Movie', :class => 'sr-only' %>
    <%= text_field_tag :query, params[:query], :placeholder => 'Titanic', :autofocus => 'true', :class => 'form-control' %>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
  </div>
<% end %>

<br><br>
<h2>Movies</h2>
<br>

<%= render 'movies/list' %>
