<table class="ink-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Year</th>
      <th>Imdb</th>
      <th>Imdb rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= link_to movie.name, movie %></td>
        <td><%= movie.year %></td>
        <td><%= link_to  movie.imdb_id, imdb_url(movie.imdb_id), target: '_blank' %></td>
        <td><%= movie.imdb_rating %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
