<div class="results-wrapper">
<div class="page-logo">
    <%= link_to image_tag('subzam.png'), root_path %>
</div>
<p class="condensed-300 small ">Search through the contents of <strong><%= Movie.count %> movies</strong>.</p>
<%= form_tag :fulltext_movies, :method => 'get', :class => 'ink-form top-space' do %>
    <div class="column-group push-center">
      <div class="control-group all-60">
            <div class="control  append-button">
                <span><%= text_field_tag :query, params[:query], :placeholder => "I am your father", :autofocus => 'true', :class => 'js-input' %></span>
                <%= submit_tag "Search", :name => nil, :class => 'ink-button orange' %>
            </div>
      </div>
    </div>
<% end %>

<%= link_to '#', class: 'small js-micro' do %>
    <i class="fa fa-microphone"></i> Use Voice Search
<% end %>

<%= render 'front/speech_script' %>

<div class="vertical-space">
    <h2 style="margin: 0">Results</h2>
    <small class="fw-300">(Found <%= @results.total %> Movies)</small>
</div>
    
<div class="result-wrapper column-group all-65 push-center">
    <% @results.each_hit_with_result do |hit, movie| %>
        <div class="result-item bottom-space all-100">
            <div class="poster all-10 push-left">
              <%= link_to image_tag(movie.poster), movie_path(movie, query: params[:query]) %>
            </div>
            
            <div class="all-90 push-right">
              <div class=""><%= link_to movie.name, movie_path(movie, query: params[:query]) %> <small>&mdash; <%= movie.year %></small> <small style="color: #aaa" class="fw-300">(<%= pluralize hit.highlights.size, 'hit' %>)</small></div>
              
                <% if h = hit.highlights.first %>
                  <em class="fw-300" style="margin-bottom: 5px; display:block">&hellip;<%= strip_timestamps(h.format { |fragment| content_tag(:mark, fragment) }).html_safe %>&hellip;</em>
                <% end %>
              <%= link_to imdb_url(movie.imdb_id), target: '_blank', class: 'imdb-link small' do %>
               IMDB Rating: <%= movie.imdb_rating %>
              <% end %>
            </div>
        </div>
    <% end %>
</div>
<div style="width: 450px; margin: 0 auto 50px;">
  <% match    = @results.total %>
  <% no_match = Movie.count - match %>
  <%= pie_chart [["#{match} match", match], ["#{no_match} don't match", no_match]], :height => '100px', :width => '100px', :library => {pieHole: 0} %>
</div>