<div class="results-wrapper">
<div class="page-logo">
    <%= link_to image_tag('subzam.png'), root_path %>
</div>
<p class="condensed-300 small ">Search through the contents of <strong><%= Movie.count %> movies</strong>.</p>
<%= form_tag :fulltext_movies, :method => 'get', :class => 'ink-form top-space' do %>
    <div class="column-group push-center">
      <div class="control-group all-60">
            <div class="control  append-button">
                <span><%= text_field_tag :query, params[:query], :placeholder => "Luke, I'm your father", :autofocus => 'true', :class => '' %></span>
                <%= submit_tag "Search", :name => nil, :class => 'ink-button orange' %>
            </div>
      </div>
    </div>
<% end %>

<div class="vertical-space">
    <h2 style="margin: 0">Results</h2>
    <small class="fw-300">(Found <%= @results.hits.count %> Movies)</small>
</div>
    
<div class="result-wrapper column-group all-60 push-center">
    <% @results.each_hit_with_result do |hit, movie| %>
        <div class="result-item bottom-space all-100">
            <div class=""><%= link_to movie.name, movie %> <small>(<%= movie.year %>)</small></div>
            
              <% hit.highlights.each do |h| %>
                <em class="fw-300" style="margin-bottom: 5px; display:block">&hellip;<%= h.format { |fragment| content_tag(:mark, fragment) }.html_safe %>&hellip;</em>
              <% end %>
            <%= link_to imdb_url(movie.imdb_id), target: '_blank', class: 'imdb-link small' do %>
             IMDB Rating: <%= movie.imdb_rating %>
            <% end %>
        </div>
    <% end %>
</div>