<div class="movie-wrapper all-60">
  <%= link_to '« Back', params[:query] ? fulltext_movies_path(query: params[:query]) : :root %>

  <div class="page-logo">
    <br>
    <h2><%= @movie.name %></h2>
  </div>

  <br>

  <table class="ink-table bordered">
    <tr>
      <td rowspan="4"><%= image_tag @movie.poster %></td>
      <th>Movie Name</th>
      <td><%= link_to @movie.name, @movie %></td>
    </tr>
    <tr>
      <th>Year</th>
      <td><%= @movie.year %></td>
    </tr>
    <tr>
      <th>IMDB</th>
      <td><%= link_to "ID #{@movie.imdb_id}", imdb_url(@movie.imdb_id), target: '_blank' %></td>
    </tr>
    <tr>
      <th>IMDB Rating</th>
      <td><%= @movie.imdb_rating %></td>
    </tr>
  </table>

  <% if params[:query] %>
    <div class="result-wrapper column-group all-90 push-center">
      <% @results.each_hit_with_result do |hit, movie| %>
        <div class="result-item bottom-space all-100">
          <div class="result-count">
            <h4><%= pluralize(hit.highlights.size, 'hit') %> for <em><%= params[:query] %></em>:</h4>
          </div>

          <% timed_highlights(hit.highlights.slice(0,30)).each do |h, time| %>
            <em class="fw-300 highlight">
              <span class="timestamp"><a href="#" class="sort_by_time"><%= time %></a></span>
              &hellip;<%= strip_timestamps(h.format { |fragment| content_tag(:mark, fragment) }).html_safe %>&hellip;
            </em>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render 'order_highlights' %>
  <% end %>

  <%= pie_chart @movie.keywords, :height => '500px', :library => {:title => 'Frequent words', pieHole: 0, pieSliceText: 'label'} %>
</div>
