<!DOCTYPE html>
<html>
<head>
  <title>Subzam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
  <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>

  <div class="page-header">
    <h1>SubZam</h1>
  </div>

  <%= yield %>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">Codebits 2014</p>
  </div>
</div>

</body>
</html>
